*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
    transition: all 1s ease;
}

/* body.wrong {
    background-color: #ffbdbd;
} */

.container {
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    padding: 2rem;
    /* margin-bottom: 20px; */
}

.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

/* start-screen */

#start-screen h1{
    font-size: 3rem;
    color: rgb(20, 87, 151);
    margin-bottom: 1rem;
}

#start-screen p {
    color: #666;
    margin-bottom: 30px;
}

.q-head {
    margin-bottom: 10px;
}

#q-text {
    font-size: 2rem;
    color: rgb(20, 87, 151);
    margin-bottom: 1rem;
    line-height: 1.4;
}

.q-info {
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.opt-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.opt {
    background-color: aliceblue;
    color: rgb(20, 87, 151);
    border: 2px solid rgb(191, 224, 252);
    border-radius: 10px;
    padding: 1rem;
    text-align: left;
    transition: all 0.3s;
}

.opt:hover {
    background-color: rgb(136, 140, 143);
    border-radius: 10px;
}

.opt.crct {
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}

.opt.icrct {
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}

.bb {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.progress-bar {
    height: 10px;
    width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .3s;
}

.progress {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background-color: rgb(191, 224, 252);
    transition: width .3s ease;
}

.nav {
    display: flex;
    justify-content: right;
}

#next,#prev {
    margin-left: 10px;
    font-size: 1.5rem;
}

#res-screen h1 {
    font-size: 3rem;
    color: rgb(20, 87, 151);
    margin-bottom: 20px;
}

.res-info {
    background-color: rgb(226, 241, 255);
    border-radius: 5%;
    color: #666;
    margin-bottom: 25px;
    padding: 1rem;
}

.res-info p {
    margin-bottom: 5px;
}

#feedback {
    font-size: 2rem;
    color: rgb(20, 87, 151);
    font-weight: bold;
}

button {
    background-color: rgb(20, 87, 151);
    color: aliceblue;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover {
    background-color: rgb(38, 69, 97);
}


/* media */
@media(max-width:500px){
    .screen{
        padding: 1rem;
    }

    .container {
        max-width: 300px;
    }

    #start-screen h1 {
        font-size: 2rem;
    }

    #q-text {
        font-size: 1.5rem;
    }

    .opt-btn {
        padding: 12px;
    }

    button {
        padding: 12px 25px;
        font-size: .8rem;
    }
}